<!-- home section starts  -->

<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide" style="background:url(/images/whome.jpeg) no-repeat">

            </div>
        </div>

    </div>

</section>

<!-- home section ends -->

<!-- banner section starts  -->

<section class="banner-container">

    <div class="banner">
        <img src="images/shop_banner_img1.jpg" alt="">
        <div class="content">
            <span>special offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">shop now</a>
        </div>
    </div>

    <div class="banner">
        <img src="images/shop_banner_img2.jpg" alt="">
        <div class="content">
            <span>special offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">shop now</a>
        </div>
    </div>

</section>

<!-- banner section ends -->

<!-- products section starts  -->

<section class="products" id="products">

    <h1 class="heading"> exclusive <span>products</span> </h1>

    <div class="filter-buttons">
        <div class="buttons active" onclick="location.href='/view-products'" data-filter="all">all</div>

        <div class="buttons" onclick="location.href='/womenProducts'" data-filter="featured">Women</div>
        <div class="buttons" onclick="location.href='/menProducts'" data-filter="special">Men</div>
        <div class="buttons" onclick="location.href='/kidsProducts'" data-filter="seller">Kids</div>
    </div>

    <div class="box-container">
        {{#each products}}
        <div class="box" data-item="featured">
            <div class="icons">
                <a href="#" onclick="addToCart('{{this._id}}')" class="fas fa-shopping-cart"></a>
                <a href="#" onclick="addToWishlist('{{this._id}}')" class="fas fa-heart"></a>
                <a href="#" class="fas fa-search"></a>
                <a href="#" href="/single-productview/{{this._id}}" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="/product-images/{{this.Images.[0]}}" alt="">
            </div>
            <div class="content">
                <h3>{{this.Name}}</h3>
                <div class="price">
                    {{#if (eq this.Offer "true")}}
                    <div class="amount">{{this.DiscountPrice}}</div>
                    <div class="cut">{{this.ActualPrice}}</div>
                    <div class="offer">{{this.Discount}}% off</div>

                    {{else}}
                    <div class="amount">{{this.ActualPrice}}</div>
                    {{/if}}
                </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>(50)</span>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

</section>

<!-- products section ends -->


<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <div class="icons-container">

        <div class="icons">
            <i class="fas fa-map-marker-alt"></i>
            <h3>address</h3>
            <p>jogeshwari, mumbai, india - 400104</p>
        </div>

        <div class="icons">
            <i class="fas fa-envelope"></i>
            <h3>email</h3>
            <p>shaikhanas@gmail.com</p>
            <p>ecart@gmail.com</p>
        </div>

        <div class="icons">
            <i class="fas fa-phone"></i>
            <h3>phone</h3>
            <p>+123-456-7890</p>
            <p>+111-222-3333</p>
        </div>

    </div>



</section>

<!-- contact section ends -->


<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>about us</h3>
            <p>Our website allows people to buy and sell physical goods, services, and digital products over the
                internet rather than at a brick-and-mortar location. Through this e-commerce website, a business can
                process orders, accept payments, manage shipping and logistics, and provide customer service.</p>
        </div>

        <div class="box">
            <h3>category</h3>
            <a href="/menProducts"> <i class="fas fa-arrow-right"></i> men </a>
            <a href="/womenProducts"> <i class="fas fa-arrow-right"></i> women </a>
            <a href="/kidsProducts"> <i class="fas fa-arrow-right"></i> kids </a>

        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="/"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="/view-products"> <i class="fas fa-arrow-right"></i> products </a>
            <a href="/womenProducts"> <i class="fas fa-arrow-right"></i> women </a>
            <a href="/menProducts"> <i class="fas fa-arrow-right"></i> men </a>
            <a href="/kidsProducts"> <i class="fas fa-arrow-right"></i> kids </a>

        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="/orders"> <i class="fas fa-arrow-right"></i> my order </a>
            <a href="/user-profile"> <i class="fas fa-arrow-right"></i> my account </a>
            <a href="/wishlist"> <i class="fas fa-arrow-right"></i> my wishlist </a>
            <a href="/cart"> <i class="fas fa-arrow-right"></i> my cart </a>

        </div>

    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-pinterest"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-instagram"></a>
    </div>

    <div class="credit"> &copy; copyright @ 2022 by <span>E-cart</span> </div>

</section>

<!-- footer section ends -->

</body>

</html>

<script>
     function addToCart(proId) {
        $.ajax({
            url: '/add-to-cart/' + proId,
            method: 'get',
            success: (response) => {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Item added to cart',
                    showConfirmButton: false,
                    timer: 1500
                })
                let count = $('#cart-count').html()
                count = parseInt(count) + 1
                $("#cart-count").html(count)
                location.reload()
            }
        })
    }

    function addToWishlist(proId) {
        $.ajax({
            url: '/add-to-wishlist/' + proId,
            method: 'get',
            success: (response) => {
                console.log("success");
                if (response.success) {
                    Swal.fire({

                        icon: 'success',
                        title: 'Item added to wishlist',
                        confirmButtonText: 'ok',

                    })
                }
                if (response.exist) {
                    Swal.fire({

                        icon: 'success',
                        title: 'Item already added in wishlist',
                        confirmButtonText: 'ok',

                    })
                }
            }
        })
    }
</script>